main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.synctex.gz
algo.aux
algo.fdb_latexmk
algo.fls
algo.log
algo.out
algo.synctex.gz
template.aux
template.fdb_latexmk
template.fls
template.log
template.synctex.gz
volobridge.aux
volobridge.fdb_latexmk
volobridge.fls
volobridge.log
volobridge.out
volobridge.synctex.gz
p72.aux
p72.fdb_latexmk
p72.fls
p72.log
p72.out
p72.synctex.gz
